.each-team {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.team-logo {
  width: 55px;
  margin-right: 10px;
}
.team-name {
  font-family: 'Bree Serif';
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .team-name {
    font-size: 28px;
  }
}

.link-item {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff33;
  border-radius: 20px;
  border: 1px solid #ffffff;
  width: 35%;
  height: 100px;
  padding: 20px;
  margin: 15px;
}
