.rcb {
  background: linear-gradient(to bottom, #a4261d, #1e293b);
}
.kkr {
  background-image: linear-gradient(to bottom, #5755a7, #1e293b);
}
.kxp {
  background-image: linear-gradient(to bottom, #d91c1f, #1e293b);
}
.csk {
  background-image: linear-gradient(to bottom, #f7db00, #1e293b);
}
.rr {
  background-image: linear-gradient(to bottom, #da237b, #1e293b);
}
.mi {
  background-image: linear-gradient(to bottom, #13418b, #1e293b);
}
.sh {
  background-image: linear-gradient(to bottom, #f26d22, #1e293b);
}
.dc {
  background-image: linear-gradient(to bottom, #4f5db0, #1e293b);
}
.team-matches-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
}
.responsive-container {
  width: 90%;
  max-width: 500px;
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .responsive-container {
    margin-top: 96px;
    max-width: 1110px;
  }
}
.team-banner {
  width: 100%;
}
.recent-matches-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .recent-matches-list {
    margin-top: 32px;
  }
}
.back-btn {
  background-color: transparent;
  border: 1px solid lightgrey;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  width: 160px;
  height: 36px;
  font-family: 'Roboto';
  color: white;
  font-size: 16px;
  margin-bottom: 40px;
}
.home-link {
  text-decoration: none;
}

.pie-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statistics-text {
  font-family: 'Bree Serif';
  font-size: 16px;
  color: white;
  font-weight: 500;
  align-self: flex-start;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
